.App {
  text-align: center;
  min-height: 100vh;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #156054;
  color: #F8E16C;
}

.App-header {
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #9D5C63;
}

.App-body {
  font-size: calc(10px + 2vmin);
}

.App-body ul li {
  text-align: left;
}

.button-home {
  font-family: inherit;
  font-size: inherit;
  color: #FFF;
  background: #70c1b3;
  padding: 25px 80px;
  display: inline-block;
  margin: 15px 30px;
  font-weight: 700;
  outline: none;
  position: relative;
  cursor: pointer;
}

.button-home:hover {
  color:#156054;
  background-color:#F8E16C;
}
