.App {
  text-align: center;
  min-height: 100vh;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #FEF5EF;
  color: #584B53;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #9D5C63;
}

.App-body {
  font-size: calc(10px + 2vmin);
}

.App-body ul li {
  text-align: left;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
